* {
    border: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow:hidden
}

a {
    color: inherit; 
}

body {
    display: flex;
    flex-direction: row;
    
}

div.sidebar {
    width: 30%;
    flex-shrink: 0;
    height: 100vh;
}

div.sidebar-label{
    position: absolute;
    top: 30%;
    width: 30%;
    font-size: 80px;
    background-color: black;
    color: white;
    text-align: center;
}

div img{
    height: 100%;
    width: 100%;
    border-right: 1px;
    border-color: black;
    border-style: solid;
    object-fit: none;
    position: relative;
}

div .footer{
    color: white;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 30%;
    background-color: black;
    padding: 10px 0;
}

.content-section {
    display: flex;
    flex-direction: column;
    padding-left: 2em;
}

.content-section > *, .sign-up-form{
    padding-left: 2em;
}

    
div .content-section-header {
    padding: 3em 2em;
    background-color: rgb(247, 243, 243);
    font-size: 30px;
}

input{
    border: 2px solid #E5E7EB;
    display: block;
}

div .content-section-form-header {
    font-size: 30px;
    padding: 1em 2em;
}
    
.sign-up-form{
    display:flex;
    gap: 10em;
    
}

.form-column-one > div {
    padding-bottom: 1em;
}

.form-column-two > div {
    padding-bottom: 1em;
}

.create-account{
    background-color: black;
    color: white;
    font-size: 20px;
    height: 50px;
    min-width: 300px;
    border-radius: 4px;
    cursor: pointer;
}

.content-section-footer span{
    margin: 1em 0;
    padding-left: 2em;
}

a {
    display: inline;
    color: rgba(59, 59, 59, 0.966);
    text-decoration: none;
}

input:invalid {
    border: 2px solid rgb(253, 102, 102);
}

.required-field::after {
    color: red;
    content: " *";
}